# Environment / secrets
.env
.env.local
*.pem
**/google-services.json
**/GoogleService-Info.plist
**/AuthKey_*.p8

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (팀 공유 설정만 필요하면 주석 해제)
#.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
.dart_tool/
pubspec_overrides.yaml

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/.gradle/
/android/captures/
/android/key.properties
*.jks
*.keystore

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/DerivedData/
**/xcuserdata/

# Supabase CLI local
supabase/.temp/
supabase/.branches/
